@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";

.app-page {
  padding: 10px 20px;
}

.app-page-form {
  padding-top: 10px;
}

.loading-spinner {
  margin-top: 100px;
}