.process-group {
    border: 1px solid #bdbdbd;
    margin: 10px;
    padding: 5px;
    background-color: #ededed;
    
}

.log-group-header {
    font-style: italic;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.log-time {
    /* font-size: 11px; */
    color: gray;
}

.log-item-TRACE {
    color: gray;
}

.log-item-LOG { 
    color: #395a76
}

.log-item-INFO {
    color:blueviolet
}

.log-item-WARN {
    color: orangered;
}

.log-item-ERROR {
    color: red;
}