.flows-box {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 15px;
}

.flow-card {
    flex-basis: 200px;
    max-width: 200px;
    min-height: 200px;
    padding: 10px 10px 10px 15px !important;
}

.flow-card-image {
    width: 42px;
    margin: auto;
}

.flow-card-image-add {
    display: block !important;
    width: 100px;
    height: 100px;
    margin-top: 25px !important;
    margin: auto auto;
}

/* .flow-card-content {

} */